<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.eclipse.angus.mail">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.eclipse.angus:angus-mail}"/>
    </resources>

    <dependencies>
        <module name="java.logging" />
        <module name="java.xml" />
        <module name="java.security.sasl" />
        <module name="jakarta.mail.api" />
        <module name="jakarta.activation.api"/>
    </dependencies>
</module>
