<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.eclipse.microprofile.restclient">

  <properties>
    <property name="jboss.api" value="private"/>
  </properties>

  <resources>
    <artifact name="${org.eclipse.microprofile.rest.client:microprofile-rest-client-api}"/>
  </resources>

  <dependencies>
    <module name="java.logging"/>
    <module name="jakarta.annotation.api"/>
    <module name="jakarta.enterprise.api"/>
    <module name="jakarta.xml.bind.api"/>
    <module name="jakarta.ws.rs.api"/>
    <module name="org.eclipse.microprofile.config.api"/>
  </dependencies>
</module>
