<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2020, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.9" name="jakarta.xml.bind.api">

    <resources>
        <artifact name="${jakarta.xml.bind:jakarta.xml.bind-api}"/>
    </resources>

    <dependencies>
        <module name="java.desktop"/>
        <module name="java.logging"/>
        <module name="java.xml"/>
        <module name="jakarta.activation.api" export="true"/>
        <module name="org.eclipse.angus.activation" services="export" export="true"/>
        <module name="javax.xml.stream.api"/>
        <!-- Export the implementation as the TCCL is typically the CL of a deployment. We do not want to export the
             services as that would trigger the loading through the service loader. This can be an issue and require
             special permissions if the security manager is present. Not exporting the services falls back to a default
             implementation provided by the org.glassfish.jaxb module.

             Please note the comment in WFLY-17065. The org.glassfish.jaxb module includes more than one module. While
             it is likely not an issue to NOT export the services, it should be noted this currently affects;
             jaxb-runtime.jar and jaxb-xjc.jar.
         -->
        <module name="org.glassfish.jaxb" services="import" export="true"/>
    </dependencies>
</module>
