<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

    <servlet>
        <servlet-name>POJOService</servlet-name>
        <servlet-class>org.jboss.as.test.integration.ws.injection.ejb.basic.webservice.POJOBean</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>POJOService</servlet-name>
        <url-pattern>/POJOService</url-pattern>
    </servlet-mapping>

    <env-entry>
        <env-entry-name>boolean1</env-entry-name>
        <env-entry-type>java.lang.Boolean</env-entry-type>
        <env-entry-value>true</env-entry-value>
    </env-entry>

</web-app>

