<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="org.infinispan.core">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.infinispan:infinispan-core}"/>
    </resources>

    <dependencies>
        <module name="java.management"/>
        <module name="java.naming"/>
        <module name="java.transaction.xa"/>
        <module name="jakarta.transaction.api"/>
        <module name="jdk.unsupported"/>
        <module name="com.github.ben-manes.caffeine"/>
        <module name="io.reactivex.rxjava3.rxjava"/>
        <module name="io.smallrye.jandex"/>
        <module name="org.infinispan" export="true"/>
        <module name="org.infinispan.persistence.jdbc" optional="true"/>
        <module name="org.infinispan.persistence.remote" optional="true"/>
        <module name="org.infinispan.client.hotrod" optional="true"/>
        <module name="org.infinispan.commons"/>
        <module name="org.infinispan.counter"/>
        <module name="org.infinispan.protostream"/>
        <module name="org.infinispan.protostream.types"/>
        <module name="org.jboss.logging"/>
        <!-- WFLY-14283 Allow Infinispan to resolve exceptions containing JBoss Marshalling TraceInformation -->
        <module name="org.jboss.marshalling" optional="true"/>
        <module name="org.jboss.threads"/>
        <module name="org.jgroups" optional="true"/>
        <module name="org.reactivestreams"/>
    </dependencies>
</module>
