<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="remote-call-interceptor-module">
    <resources>
        <resource-root path="client-side-interceptor.jar"/>
    </resources>
    <dependencies>
        <module name="javax.interceptor.api"/>
        <module name="org.jboss.ejb-client"/>
    </dependencies>
</module>
