<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.resteasy.resteasy-cdi">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.jboss.resteasy:resteasy-cdi}"/>
    </resources>

    <dependencies>
        <module name="java.naming"/>
        <module name="jakarta.annotation.api"/>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.servlet.api"/>
        <module name="jakarta.ws.rs.api"/>
        <module name="jakarta.validation.api"/>
        <module name="org.jboss.resteasy.resteasy-core"/>
        <module name="org.jboss.resteasy.resteasy-core-spi"/>
        <module name="org.jboss.weld.api"/>
        <module name="org.jboss.weld.core"/>
        <module name="org.jboss.weld.spi"/>
        <module name="org.jboss.logging"/>
        <module name="org.eclipse.microprofile.restclient" optional="true"/>
    </dependencies>
</module>
