<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="org.wildfly.extension.microprofile.reactive-messaging-smallrye">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly:wildfly-microprofile-reactive-messaging}"/>
    </resources>

    <dependencies>
        <!-- Needed to initialise the netty logger if the module is present -->
        <module name="io.netty" optional="true"/>
        <!-- Needed to initialise the vert.x logger if the module is present -->
        <module name="io.vertx.core" optional="true"/>

        <module name="org.eclipse.microprofile.config.api"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.server"/>
        <module name="io.smallrye.jandex"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.wildfly.reactive.messaging.common"/>
        <module name="org.wildfly.reactive.messaging.config"/>
        <module name="org.wildfly.reactive.messaging.amqp" optional="true" services="export"/>
        <module name="org.wildfly.reactive.messaging.kafka" optional="true" services="export"/>
        <module name="org.wildfly.security.manager"/>

        <!--
            Most RM dependencies are provisioned in the subsystem definition, as they are not
            required by the subsystem itself, only by the deployments
        -->

    </dependencies>
</module>