<?xml version="1.0" ?>

<config xmlns="urn:jboss:galleon:config:1.0" name="standalone-microprofile-ha.xml" model="standalone">
    <layers>
        <include name="cloud-server"/>
        <include name="h2-default-datasource"/>
        <include name="microprofile-fault-tolerance"/>
        <include name="microprofile-health"/>
        <include name="microprofile-jwt"/>
        <include name="microprofile-metrics"/>
        <include name="microprofile-openapi"/>
        <include name="microprofile-opentracing"/>
        <include name="microprofile-rest-client"/>
        <exclude name="jpa"/>
        <include name="jpa-distributed"/>
        <include name="web-clustering"/>
        <include name="elytron-oidc-client"/>
    </layers>
    <!-- TODO WFLY-15021 Add an undertow-https layer -->
    <feature-group name="undertow-https"/>
</config>
