<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
    <persistence-unit name="mypc">
        <description>Persistence Unit.</description>
        <jta-data-source>java:comp/DefaultDataSource</jta-data-source>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
            <property name="hibernate.show_sql" value="false"/>
            <!-- TODO: WFLY-17966 Allow JPA bytecode enhancement to work with applications using java:comp/DefaultDataSource
               To recreate, set <property name="jboss.as.jpa.classtransformer" value="true"/>
            -->
            <property name="jboss.as.jpa.classtransformer" value="false"/>
        </properties>
    </persistence-unit>
</persistence>
