<?xml version="1.0"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   <servlet>
     <servlet-name>PicketLinkSTS</servlet-name>
     <servlet-class>org.jboss.as.test.integration.ws.authentication.policy.resources.PicketLinkSTSService</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>PicketLinkSTS</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>

  <security-constraint>
     <web-resource-collection>
       <web-resource-name>TokenService</web-resource-name>
       <url-pattern>/*</url-pattern>
       <http-method>GET</http-method>
       <http-method>POST</http-method>
     </web-resource-collection>
     <auth-constraint>
       <role-name>STSClient</role-name>
     </auth-constraint>
   </security-constraint>

   <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>PicketLinkSTSRealm</realm-name>
   </login-config>

   <security-role>
      <role-name>STSClient</role-name>
   </security-role>

</web-app>
