<?xml version="1.0"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>default</servlet-name>
        <multipart-config>
            <max-file-size>10000</max-file-size>
            <max-request-size>10000</max-request-size>
        </multipart-config>
    </servlet>

</web-app>
