<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.clustering.web.container">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly:wildfly-clustering-web-container}"/>
    </resources>

    <dependencies>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <!-- Allow dynamic loading of distributable session management and single sign-on providers -->
        <module name="org.wildfly.clustering.web.undertow" services="import" optional="true"/>
        <module name="org.wildfly.service"/>
        <module name="org.wildfly.subsystem"/>
    </dependencies>
</module>
