<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.clustering.singleton.api">

    <resources>
        <artifact name="${org.wildfly:wildfly-clustering-singleton-api}"/>
    </resources>

    <dependencies>
        <module name="org.jboss.msc"/>
        <module name="org.wildfly.clustering.server.api"/>
        <module name="org.wildfly.clustering.service" export="true"/>
        <module name="org.wildfly.service" export="true"/>
    </dependencies>
</module>
