<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2022, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.9" name="org.elasticsearch.client.rest-client">

    <properties>
        <!-- Direct access to the Elasticsearch client is allowed in WildFly,
             though it may not be supported by product vendors
             (because its APIs could change without prior notice). -->
        <property name="jboss.api" value="public"/>
    </properties>

    <resources>
        <artifact name="${org.elasticsearch.client:elasticsearch-rest-client}"/>
        <artifact name="${org.elasticsearch.client:elasticsearch-rest-client-sniffer}"/>
    </resources>

    <dependencies>
        <module name="org.apache.commons.logging"/>
        <module name="org.apache.commons.codec" export="true"/>
        <module name="org.apache.httpcomponents" export="true" services="export"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
    </dependencies>
</module>
