<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <listener>
        <listener-class>org.jboss.as.test.integration.deployment.dependencies.ear.SleeperContextListener</listener-class>
    </listener>
</web-app>
