<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.reactive.messaging.kafka">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly:wildfly-microprofile-reactive-messaging-kafka}"/>
    </resources>

    <dependencies>
        <module name="io.smallrye.config"/>
        <module name="org.apache.kafka.client"/>
        <module name="org.eclipse.microprofile.config.api"/>
        <module name="org.eclipse.microprofile.reactive-messaging.api"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.modules"/>
         <module name="org.jboss.msc"/>
        <module name="org.wildfly.reactive.messaging.common"/>
        <module name="org.wildfly.reactive.messaging.config"/>
        <module name="org.wildfly.security.manager"/>
    </dependencies>
</module>