<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="io.micrometer">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.micrometer:micrometer-commons}"/>
        <artifact name="${io.micrometer:micrometer-core}"/>
        <artifact name="${io.micrometer:micrometer-registry-otlp}"/>
        <artifact name="${io.micrometer:micrometer-registry-prometheus}"/>
    </resources>

    <dependencies>
        <module name="com.google.protobuf"/>
        <module name="io.opentelemetry.otlp"/>
        <module name="io.opentelemetry.proto"/>
        <!-- This is only required if the 'registry=prometheus' resource is configured -->
        <module name="io.prometheus" optional="true"/>

        <module name="jakarta.servlet.api"/>
        <module name="java.management"/>
        <module name="java.logging"/>
    </dependencies>
</module>
