<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jgroups.aws">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.jgroups.aws:jgroups-aws}"/>
    </resources>

    <dependencies>
        <module name="org.jgroups"/>
        <module name="software.amazon.awssdk.s3"/>
    </dependencies>

</module>
