<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.clustering.weld.web">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly:wildfly-clustering-weld-web}"/>
    </resources>

    <dependencies>
        <module name="jakarta.enterprise.api"/>

        <module name="org.infinispan.protostream"/>
        <module name="org.jboss.weld.core"/>
        <module name="org.wildfly.clustering.marshalling.protostream"/>
    </dependencies>
</module>
