# ignore .svn metadata files
.svn
# ignore Maven generated target folders
~
target
# ignore eclipse files
.project
.classpath
.settings
# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
maven-ant-tasks.jar
test-output
transaction.log
# vim files
*.swp
/.gitk-tmp.*
atlassian-ide-plugin.xml
