README.html
CONTRIBUTING.html
.project
.settings

# Build output directies
target

# ignore the build metadata created by the build metadata plugin
build.metadata

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
bin

# NetBeans specific files/directories
.nbattrs

# Miscellaneous
*.log
.clover
.DS_Store

#Vi
*.swp

#vscode
.vscode
