<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">

    <persistence-unit name="mypc">
        <!--
        purposely leave datasource out to test WFLY-2122 (use default EE datasource)
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        -->

        <properties>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
            <property name="jboss.entity.manager.factory.jndi.name" value="myEMF"/>
            <property name="jboss.entity.manager.jndi.name" value="java:/Manager1"/>
        </properties>
    </persistence-unit>

</persistence>
