<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.resteasy.resteasy-json-p-provider">

    <resources>
        <artifact name="${org.jboss.resteasy:resteasy-json-p-provider}"/>
    </resources>

    <dependencies>
        <module name="jakarta.json.api"/>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.ws.rs.api"/>
        <module name="org.jboss.resteasy.resteasy-core"/>
        <module name="org.jboss.resteasy.resteasy-core-spi"/>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
