<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.clustering.web.infinispan">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <exports>
        <exclude path="org/wildfly/clustering/web/infinispan/logging"/>
    </exports>

    <resources>
        <artifact name="${org.wildfly:wildfly-clustering-web-infinispan}"/>
    </resources>

    <dependencies>
        <module name="jakarta.transaction.api"/>

        <module name="org.infinispan"/>
        <module name="org.infinispan.commons"/>
        <module name="org.infinispan.protostream"/>
        <module name="org.jboss.logging"/>
        <module name="org.wildfly.clustering.context"/>
        <module name="org.wildfly.clustering.ee.cache" services="import"/>
        <module name="org.wildfly.clustering.ee.infinispan" services="import"/>
        <module name="org.wildfly.clustering.ee.spi"/>
        <module name="org.wildfly.clustering.infinispan.embedded.api"/>
        <module name="org.wildfly.clustering.infinispan.embedded.spi" services="import"/>
        <module name="org.wildfly.clustering.marshalling.protostream"/>
        <module name="org.wildfly.clustering.marshalling.spi"/>
        <module name="org.wildfly.clustering.server.api"/>
        <!-- Make sure galleon includes this module -->
        <module name="org.wildfly.clustering.server.infinispan" optional="true"/>
        <module name="org.wildfly.clustering.server.spi"/>
        <module name="org.wildfly.clustering.web.cache"/>
        <module name="org.wildfly.clustering.web.spi"/>
        <module name="org.wildfly.common"/>
        <module name="org.wildfly.security.elytron-private"/>
    </dependencies>
</module>
