<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.5" name="test.custom-config-source-provider">

    <resources>
        <resource-root path="config-source-provider.jar"/>
    </resources>

    <dependencies>
        <module name="org.eclipse.microprofile.config.api"/>
    </dependencies>
</module>
