<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="mainPu">
        <jar-file>lib/jarfile.jar</jar-file>
        <description>Persistence Unit.</description>
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
            <property name="hibernate.show_sql" value="false"/>
            <property name="hibernate.session_factory_name" value="modelSessionFactory"/>
            <!-- ensure that the alias for the org:hibernate module can be used,
                 this needs to be bumped to the current Hibernate ORM module name alias. -->
            <property name="jboss.as.jpa.providerModule" value="org.hibernate:main"/>
        </properties>
    </persistence-unit>
</persistence>
