<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.5" name="test.multiple">

    <resources>
        <resource-root path="multiple1-bootableJar.jar"/>
        <resource-root path="multiple2-bootableJar.jar"/>
        <!-- Insert resources here -->
    </resources>

    <dependencies>

        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.inject.api"/>
    </dependencies>
</module>
