<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="io.smallrye.reactive.messaging.connector.kafka.api">
    <resources>
        <artifact name="${io.smallrye.reactive:smallrye-reactive-messaging-kafka-api}"/>
    </resources>

    <dependencies>
        <module name="org.eclipse.microprofile.reactive-messaging.api"/>
        <module name="org.apache.kafka.client"/>
    </dependencies>
</module>
