<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.extension.microprofile.metrics-smallrye">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly:wildfly-microprofile-metrics-smallrye}"/>
    </resources>

    <dependencies>
        <module name="io.undertow.core"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.core-security"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.vfs"/>
        <module name="org.wildfly.extension.metrics" />
        <module name="org.wildfly.extension.microprofile.config-smallrye" />
        <module name="jakarta.enterprise.api" />
        <module name="jakarta.annotation.api" />
    </dependencies>
</module>
