<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jgroups">

    <resources>
        <artifact name="${org.jgroups:jgroups}"/>
    </resources>

    <dependencies>
        <module name="java.desktop"/>
        <module name="java.logging"/>
        <module name="java.management"/>
        <module name="java.naming"/>
        <module name="java.scripting"/>
        <module name="java.security.jgss"/>
        <module name="java.security.sasl"/>
        <module name="java.sql"/>
        <module name="java.xml"/>

        <!-- Required by DNS_PING -->
        <module name="jdk.naming.dns"/>

        <module name="org.jgroups.azure"/>
        <module name="org.jgroups.kubernetes"/>
    </dependencies>

</module>
