<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<listener>
        <listener-class>org.jboss.as.test.integration.web.servlet.lifecycle.LifeCycleMethodServlet</listener-class>
    </listener>    
  <post-construct>
      <lifecycle-callback-class>org.jboss.as.test.integration.web.servlet.lifecycle.LifeCycleMethodServlet</lifecycle-callback-class>
      <lifecycle-callback-method>postConstruct</lifecycle-callback-method>
  </post-construct>

</web-app>
