<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>User</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Unsecured</web-resource-name>
      <url-pattern>/unsecured/*</url-pattern>
    </web-resource-collection>

  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>JASPI</realm-name>
  </login-config>

  <security-role>
    <role-name>User</role-name>
  </security-role>
</web-app>
