<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
         version="6.1">
    <distributable/>

    <!-- Override the servlet class of the @WebServlet-annotated SimpleServlet (whose default name is its fully qualified class name) with CDIServlet.
         Keeping the SimpleServlet name also lets @ArquillianResource(SimpleServlet.class) resolve the servlet URL. -->
    <servlet>
        <servlet-name>org.jboss.as.test.clustering.single.web.SimpleServlet</servlet-name>
        <servlet-class>org.jboss.as.test.clustering.cluster.cdi.webapp.CDIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.jboss.as.test.clustering.single.web.SimpleServlet</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>

</web-app>
