<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.jboss-transaction-spi">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.jboss:jboss-transaction-spi}"/>
    </resources>

    <dependencies>
        <module name="java.naming"/>
        <module name="org.jboss.logging"/>
        <module name="jakarta.transaction.api"/>
        <module name="jakarta.resource.api"/>
    </dependencies>
</module>
