<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="org.infinispan.commons">

    <resources>
        <artifact name="${org.infinispan:infinispan-commons}"/>
    </resources>

    <dependencies>
        <module name="java.logging"/>
        <module name="java.management"/>
        <module name="java.naming"/>
        <module name="java.security.sasl"/>
        <module name="java.transaction.xa"/>
        <module name="jdk.management"/>
        <module name="jdk.unsupported"/>

        <module name="jakarta.transaction.api"/>
        <module name="com.github.ben-manes.caffeine"/>
        <module name="io.reactivex.rxjava3.rxjava"/>
        <module name="org.infinispan.protostream"/>
        <module name="org.jboss.logging"/>
        <module name="org.reactivestreams"/>
    </dependencies>
</module>
