<?xml version='1.0' encoding='UTF-8'?>
<!--  See src/resources/configuration/ReadMe.txt for how the configuration assembly works -->
<config>
   <extension-module>org.jboss.as.web</extension-module>
   <subsystem xmlns="urn:jboss:domain:web:1.2" default-virtual-server="default-host" native="false">
       <connector name="http" protocol="HTTP/1.1" scheme="http" socket-binding="http"/>
       <?AJP?>
       <virtual-server name="default-host" enable-welcome-root="true">
           <alias name="localhost"/>
           <alias name="example.com"/>
       </virtual-server>
   </subsystem>
   <supplement name="ha">
       <replacement placeholder="AJP">
           <connector name="ajp" protocol="AJP/1.3" scheme="http" socket-binding="ajp"/>
       </replacement>
   </supplement>
   <socket-binding name="http" port="8080"/>
   <socket-binding name="https" port="8443"/>
   <socket-binding name="ajp" port="8009"/>
</config>