<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.apache.cxf.ws-security">

    <resources>
        <artifact name="${org.apache.cxf:cxf-rt-ws-security}"/>
    </resources>

    <dependencies>
        <module name="asm.asm" />
        <module name="org.glassfish.jaxb" services="import"/>
        <module name="java.logging" />
        <module name="java.security.jgss" />
        <module name="java.xml" />
        <module name="jakarta.annotation.api" />
        <module name="jakarta.jms.api" />
        <module name="jakarta.mail.api" />
        <module name="jakarta.resource.api" />
        <module name="jakarta.servlet.api" />
        <module name="javax.wsdl4j.api" />
        <module name="jakarta.xml.bind.api" services="import"/>
        <module name="jakarta.xml.soap.api" />
        <module name="jakarta.xml.ws.api" />
        <module name="org.apache.commons.lang3" />
        <module name="org.apache.httpcomponents"/>
        <module name="org.apache.neethi" />
        <module name="org.apache.velocity" />
        <module name="org.apache.xml-resolver" />
        <module name="org.apache.ws.xmlschema" />
        <module name="org.apache.ws.security" />
        <module name="org.apache.santuario.xmlsec" />
        <module name="org.codehaus.woodstox" />
        <module name="org.joda.time" />
        <module name="org.opensaml" />
        <module name="org.apache.cxf.impl" services="import">
          <imports>
            <include path="META-INF/cxf"/>
            <include path="META-INF"/>
          </imports>
        </module>
    </dependencies>

</module>
