<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="io.opentelemetry.api">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.opentelemetry:opentelemetry-api}"/>
        <artifact name="${io.opentelemetry:opentelemetry-api-incubator}"/>
    </resources>

    <dependencies>
        <module name="io.opentelemetry.context"/>
        <module name="io.opentelemetry.instrumentation.annotations"/>
        <module name="io.opentelemetry.instrumentation.api"/>
        <module name="io.opentelemetry.semconv"/>
        <module name="io.smallrye.opentelemetry" services="export"/>

        <module name="java.logging"/>
        <module name="java.management"/>
        <module name="jdk.management"/>
        <module name="jakarta.interceptor.api" />
    </dependencies>
</module>
