<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="jakarta.servlet.jstl.api">

    <resources>
        <artifact name="${jakarta.servlet.jsp.jstl:jakarta.servlet.jsp.jstl-api}"/>
        <artifact name="${org.glassfish.web:jakarta.servlet.jsp.jstl}"/>
    </resources>

    <dependencies>
        <module name="java.desktop"/>
        <module name="java.logging"/>
        <module name="java.naming"/>
        <module name="java.sql"/>
        <module name="java.xml"/>
        <module name="jakarta.servlet.api"/>
        <module name="jakarta.servlet.jsp.api"/>
    </dependencies>

</module>
