<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="io.smallrye.reactive.messaging.connector.kafka">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.smallrye.reactive:smallrye-reactive-messaging-kafka}"/>
    </resources>

    <dependencies>
        <module name="io.opentelemetry.api"/>
        <module name="io.opentelemetry.context"/>
        <module name="io.opentelemetry.instrumentation.api" optional="true"/>
        <module name="io.opentelemetry.semconv" optional="true"/>
        <module name="io.reactivex.rxjava2.rxjava"/>
        <module name="io.smallrye.config" services="import"/>
        <module name="io.smallrye.common.annotation"/>
        <module name="io.smallrye.opentelemetry" optional="true"/>
        <module name="io.smallrye.reactive.converters.api"/>
        <module name="io.smallrye.reactive.messaging"/>
        <module name="io.smallrye.reactive.messaging.connector.kafka.api"/>
        <module name="io.smallrye.reactive.messaging.otel"/>
        <module name="io.smallrye.reactive.mutiny"/>
        <module name="io.smallrye.reactive.mutiny.reactive-streams-operators"/>
        <module name="io.smallrye.reactive.mutiny.vertx-core"/>
        <module name="io.smallrye.reactive.mutiny.zero"/>
        <module name="io.smallrye.reactive.mutiny.zero-flow-adapters"/>
        <module name="io.vertx.client.kafka"/>
        <module name="io.vertx.core"/>
        <module name="jakarta.annotation.api"/>
        <module name="jakarta.enterprise.api" />
        <module name="jakarta.inject.api" />
        <module name="org.apache.kafka.client" export="true" services="export"/>
        <module name="org.eclipse.microprofile.reactive-messaging.api"/>
        <module name="org.eclipse.microprofile.reactive-streams-operators.api"/>
        <module name="org.eclipse.microprofile.reactive-streams-operators.core" services="import"/>
        <module name="org.eclipse.microprofile.config.api"/>
        <module name="org.jboss.logging" />
        <module name="org.jboss.weld.api"/>
        <module name="org.jboss.weld.core"/>
        <module name="org.jboss.weld.spi"/>
        <module name="org.reactivestreams"/>
        <module name="org.wildfly.reactive.messaging.config" optional="true" export="true" services="export"/>
        <module name="org.wildfly.reactive.messaging.kafka" services="import"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>
