<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jgroups.azure">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.jgroups.azure:jgroups-azure}"/>
    </resources>

    <dependencies>
        <module name="com.microsoft.azure.storage"/>
        <module name="org.jgroups"/>
    </dependencies>

</module>
