<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="MainPUCustomRegion">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <shared-cache-mode>ALL</shared-cache-mode>
        <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>
            <property name="hibernate.show_sql" value="false"/>
            <property name="hibernate.format_sql" value="true"/>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <property name="hibernate.cache.use_second_level_cache" value="true"/>
            <property name="hibernate.cache.use_query_cache" value="true"/>
            <property name="hibernate.generate_statistics" value="true"/>
            <property name="hibernate.cache.infinispan.entity.cfg" value="entity-replicated-template"/>
            <property name="hibernate.cache.infinispan.entity.memory.size" value="99991"/>
            <property name="hibernate.cache.infinispan.entity.expiration.lifespan" value="99992"/>
            <property name="hibernate.cache.infinispan.entity.expiration.max_idle" value="99993"/>
            <property name="hibernate.cache.infinispan.entity.expiration.wake_up_interval" value="9994"/>
        </properties>
    </persistence-unit>
</persistence>
