<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="io.opentelemetry.exporter">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.opentelemetry:opentelemetry-exporter-common}"/>
        <artifact name="${io.opentelemetry:opentelemetry-exporter-logging}"/>
        <artifact name="${io.opentelemetry:opentelemetry-exporter-otlp-common}"/>
        <artifact name="${com.fasterxml.jackson.jr:jackson-jr-objects}"/>
    </resources>

    <dependencies>
        <module name="io.grpc"/>
        <module name="io.opentelemetry.api"/>
        <module name="io.opentelemetry.sdk"/>
        <module name="io.opentelemetry.semconv"/>
        <module name="io.opentelemetry.context"/>
        <module name="io.opentelemetry.otlp" services="export"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="io.smallrye.opentelemetry" services="export"/>
        <module name="org.slf4j"/>

        <module name="java.logging"/>
        <module name="java.net.http"/>
        <module name="jdk.unsupported"/>
    </dependencies>
</module>
