<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
    <persistence-unit name="mypc">
        <jta-data-source>java:app/DataSource</jta-data-source>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
            <property name="wildfly.jpa.twophasebootstrap" value="true"/>
            <property name="jboss.as.jpa.classtransformer" value="true"/>
            <property name="wildfly.jpa.applicationdatasource" value="true"/>
        </properties>
    </persistence-unit>
</persistence>
