<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
    <persistence-unit name="mypc">
        <jta-data-source>java:app/DataSource</jta-data-source>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
            <!-- @DataSourceDefinition need to be started from the install phase, set wildfly.jpa.twophasebootstrap=false,
                 to delay starting the persistence unit service until the install phase.
             -->
            <property name="wildfly.jpa.twophasebootstrap" value="false"/>
        </properties>
    </persistence-unit>
</persistence>
