<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.clustering.faces.mojarra">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly:wildfly-clustering-faces-mojarra}"/>
    </resources>

    <dependencies>
        <module name="jakarta.faces.impl"/>
        <module name="jakarta.faces.api"/>
        <module name="jakarta.servlet.api"/>

        <module name="org.infinispan.protostream"/>
        <module name="org.wildfly.clustering.faces.api"/>
        <module name="org.wildfly.clustering.marshalling.protostream"/>
        <module name="org.wildfly.clustering.server.spi"/>
        <module name="org.wildfly.security.elytron-private"/>
    </dependencies>
</module>
