<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.apache.activemq.artemis.commons">
    <resources>
        <artifact name="${org.apache.artemis:artemis-commons}"/>
    </resources>

    <dependencies>
        <module name="java.management"/>
        <module name="java.management.rmi"/>
        <module name="org.apache.commons.beanutils" />
        <module name="org.slf4j"/>
        <module name="java.desktop"/>
        <module name="java.xml"/>
        <module name="io.netty.netty-buffer"/>
        <module name="io.netty.netty-transport"/>
        <module name="io.netty.netty-handler"/>
        <module name="io.netty.netty-handler-proxy"/>
        <module name="io.netty.netty-codec"/>
        <module name="io.netty.netty-codec-socks"/>
        <module name="io.netty.netty-common"/>
        <module name="io.netty.netty-resolver"/>
        <module name="io.netty.netty-transport-native-epoll"/>
        <module name="io.netty.netty-transport-native-kqueue"/>
        <module name="io.netty.netty-codec-http"/>
        <!-- WFLY-6301 This module can be used to load user-created classes that are
             used by Artemis resources (e.g. connector-service, transformers, etc.)
        -->
        <module name="org.apache.activemq.artemis.addons" optional="true" export="true"/>
    </dependencies>
</module>
