<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="jakarta.el.api">

    <resources>
        <artifact name="${org.jboss.spec.jakarta.el:jakarta.el-api}"/>
    </resources>

    <dependencies>
        <module name="java.desktop"/>
    </dependencies>    
</module>
