<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="org.wildfly.security.elytron-http-oidc">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly.security:wildfly-elytron-http-oidc}"/>
    </resources>

    <dependencies>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="org.wildfly.common"/>
        <module name="org.wildfly.security.elytron-jose-jwk"/>
        <module name="org.wildfly.security.elytron-jose-util"/>
        <module name="org.wildfly.security.elytron-private"/>
        <module name="org.apache.httpcomponents.core"/>
        <module name="org.bitbucket.jose4j"/>
        <module name="org.jboss.logging"/>
        <module name="jakarta.json.api"/>
        <module name="java.security.sasl"/>
        <module name="jakarta.servlet.api"/>
    </dependencies>
</module>
