<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>NoDotNet</web-resource-name>
			<url-pattern>*.asp</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>

</web-app>
