<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="javax.rmi.api">
    <dependencies>
        <module name="javax.orb.api" export="false">
            <exports>
                <include-set>
                    <path name="javax/rmi"/>
                    <path name="javax/rmi/CORBA"/>
                    <path name="org/jboss/javax/rmi"/>
                </include-set>
            </exports>
        </module>
    </dependencies>
</module>
