<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="io.smallrye.config">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.smallrye.config:smallrye-config}"/>
        <artifact name="${io.smallrye.config:smallrye-config-common}"/>
        <artifact name="${io.smallrye.config:smallrye-config-core}"/>
        <artifact name="${io.smallrye.config:smallrye-config-source-file-system}"/>
    </resources>

    <dependencies>
        <module name="asm.asm"/>
        <module name="org.eclipse.microprofile.config.api"/>
        <module name="org.jboss.logging" />
        <module name="jakarta.enterprise.api" />
        <module name="jakarta.annotation.api" />
        <module name="io.smallrye.common.constraint"/>
        <module name="io.smallrye.common.classloader"/>
        <module name="io.smallrye.common.expression"/>
        <module name="io.smallrye.common.function"/>
    </dependencies>
</module>
