<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.ironjacamar.impl">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.jboss.ironjacamar:ironjacamar-common-impl}"/>
        <artifact name="${org.jboss.ironjacamar:ironjacamar-core-impl}"/>
        <artifact name="${org.jboss.ironjacamar:ironjacamar-deployers-common}"/>
        <artifact name="${org.jboss.ironjacamar:ironjacamar-validator}"/>
    </resources>

    <dependencies>
        <module name="java.naming"/>
        <module name="java.rmi"/>
        <module name="java.transaction.xa"/>
        <module name="java.xml"/>
        <module name="jakarta.transaction.api"/>
        <module name="jakarta.resource.api"/>
        <module name="jakarta.security.auth.message.api"/>
        <module name="jakarta.validation.api"/>
        <module name="org.hibernate.validator" services="import"/>
        <module name="org.jboss.as.naming"/>
        <module name="org.jboss.jboss-transaction-spi"/>
        <module name="org.jboss.ironjacamar.api"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.threads"/>
        <module name="org.wildfly.transaction.client"/>
    </dependencies>

</module>
