<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.reactive.dep.jts">
    <!--
        A convenience module for WildFly's org.jboss.jts module
    -->
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <dependencies>
        <module name="org.eclipse.microprofile.reactive-streams-operators.api" export="true" optional="true"/>
        <module name="org.reactivestreams" export="true" optional="true"/>
        <module name="io.smallrye.reactive.mutiny.reactive-streams-operators" export="true" optional="true"/>
        <module name="io.smallrye.reactive.converters.api" export="true" optional="true"/>
    </dependencies>
</module>