<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="co.elastic.clients.elasticsearch-rest5-client">

    <properties>
        <!-- Direct access to the Elasticsearch client is allowed in WildFly,
             though it may not be supported by product vendors
             (because its APIs could change without prior notice). -->
        <property name="jboss.api" value="public"/>
    </properties>

    <resources>
        <artifact name="${co.elastic.clients:elasticsearch-rest5-client}"/>
    </resources>

    <dependencies>
        <module name="org.apache.httpcomponents.client5" export="true" services="export"/>
        <module name="org.apache.commons.logging"/>
        <module name="jakarta.json.api"/>
    </dependencies>
</module>
