<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="io.opentelemetry.proto">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.opentelemetry.proto:opentelemetry-proto}"/>
    </resources>

    <dependencies>
        <module name="io.opentelemetry.otlp"/>
        <module name="com.google.protobuf"/>

        <module name="java.management"/>
        <module name="java.logging"/>
    </dependencies>
</module>
