<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.2">
    <persistence-unit name="pu1">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
            <property name="PersistenceUnitName" value="pu1"/>
        </properties>
        <qualifier>org.jboss.as.test.integration.jpa.cdi.Pu1Qualifier</qualifier>
    </persistence-unit>
</persistence>
