<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <env-entry>
        <env-entry-name>overlay-test</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>NON OVERRIDDEN</env-entry-value>
    </env-entry>


</web-app>
