<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.7" name="test.weld-modules-deployment-ear">

    <resources>
        <resource-root path="weld-modules-deployment-ear-bootableJar.jar"/>
        <!-- Insert resources here -->
    </resources>

    <dependencies>

        <module name="javax.enterprise.api"/>
        <module name="javax.inject.api"/>
        <module name="javax.servlet.api"/>
        <module name="javax.servlet.jsp.api"/>
    </dependencies>
</module>
