<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="jakarta.json.bind.api">

    <properties>
        <property name="jboss.api" value="public"/>
    </properties>

    <resources>
        <artifact name="${jakarta.json.bind:jakarta.json.bind-api}"/>
    </resources>

    <dependencies>
        <module name="jakarta.json.api"/>
        <!-- Circular dependency on the implementation to ensure that:
             1. The implementation is loaded
             2. It is done last via the hard-coded class name in the spec API
         -->
        <module name="org.eclipse.yasson"/>
    </dependencies>
</module>
