<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="io.opentelemetry.semconv">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.opentelemetry.semconv:opentelemetry-semconv}"/>
        <artifact name="${io.opentelemetry.semconv:opentelemetry-semconv-incubating}"/>
    </resources>

    <dependencies>
        <module name="io.opentelemetry.api"/>
    </dependencies>
</module>
