<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.metadata.ejb">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.jboss.metadata:jboss-metadata-ejb}"/>
    </resources>

    <dependencies>
        <module name="org.jboss.metadata.common"/>
        <module name="jakarta.ejb.api" optional="true"/>
        <module name="org.jboss.logging"/>
        <module name="java.xml"/>
    </dependencies>
</module>
