<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="io.undertow.core">

    <resources>
        <artifact name="${io.undertow:undertow-core}"/>
    </resources>

    <dependencies>
        <module name="java.naming"/>
        <module name="java.security.jgss"/>
        <module name="java.sql"/>
        <module name="jdk.unsupported"/>
        <module name="org.jboss.xnio"/>
        <module name="org.jboss.xnio.nio" services="import"/>
        <module name="org.jboss.logging"/>
        <module name="org.wildfly.openssl" optional="true"/>
        <module name="org.wildfly.security.elytron-web.undertow-server" services="import" />
        <module name="org.wildfly.common"/>
    </dependencies>

</module>