<web-app>
    <servlet>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>org.jboss.as.test.integration.MailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefaultServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
