<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
  <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
     <appender name="AppLogAppender" class="org.apache.log4j.DailyRollingFileAppender">
         <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	 <param name="File" value="${jboss.server.log.dir}/log4j-xml-test.log" />
	 <param name="Append" value="false"/>
         <layout class="org.apache.log4j.PatternLayout">
	     <param name="ConversionPattern" value="%d [%t] %p - %m%n"/>
	 </layout>
     </appender>

     <!-- The "category" represents the package names of your Application APIs which we want to log -->
     <category name="servlets">
         <priority value="TRACE"/>
     </category>

     <root>
         <priority value ="TRACE"/>
         <appender-ref ref="AppLogAppender"/>
     </root>
 </log4j:configuration>
