 
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
  <module xmlns="urn:jboss:module:1.9" name="io.opentelemetry.context">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.opentelemetry:opentelemetry-context}"/>
    </resources>

    <dependencies>
        <module name="io.opentelemetry.api"/>
        <module name="java.logging"/>
    </dependencies>

</module>
