<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="mypc">
        <provider>org.jboss.as.test.integration.jpa.mockprovider.txtimeout.TestPersistenceProvider</provider>
        <jar-file>lib/jarfile.jar</jar-file>
        <description>Persistence Unit.</description>
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
    </persistence-unit>
</persistence>
