<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2022, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<!-- Hibernate Search Engine: the main glue between backend (e.g. Lucene backend)
     and mapper (e.g. Hibernate ORM mapper) -->
<module xmlns="urn:jboss:module:1.9" name="org.hibernate.search.engine">

    <resources>
        <artifact name="${org.hibernate.search:hibernate-search-util-common}"/>
        <artifact name="${org.hibernate.search:hibernate-search-engine}"/>
    </resources>

    <dependencies>
        <module name="org.jboss.logging"/>

        <!-- Optional dependencies to import services (used for resolution of bean references in particular). -->
        <module name="org.hibernate.search.backend.lucene" optional="true" services="import"/>
        <module name="org.hibernate.search.backend.elasticsearch" optional="true" services="import"/>
        <module name="org.hibernate.search.mapper.pojo" optional="true" services="import"/>
        <module name="org.hibernate.search.mapper.orm" optional="true" services="import"/>
        <module name="org.hibernate.search.mapper.orm.coordination.outboxpolling" optional="true" services="import"/>
    </dependencies>
</module>
