<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secured area</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>gooduser</role-name>			
		</auth-constraint>
	</security-constraint>

	<login-config>
	    <auth-method>FORM</auth-method>
	    <realm-name>Test realm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login-error.jsp</form-error-page>
        </form-login-config>
    </login-config>

	<security-role>
		<role-name>gooduser</role-name>
	</security-role>	
</web-app>
