<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.extension.microprofile.lra-participant">
  <properties>
    <property name="jboss.api" value="private"/>
  </properties>

  <resources>
    <artifact name="${org.wildfly:wildfly-microprofile-lra-participant}"/>
  </resources>

  <dependencies>
    <module name="org.eclipse.microprofile.lra.api"/>
    <module name="org.jboss.narayana.lra.lra-participant"/>
    <module name="io.smallrye.jandex"/>

    <module name="jakarta.enterprise.api" />
    <module name="org.jboss.as.jaxrs"/>
    <module name="jakarta.ws.rs.api" />
    <module name="jakarta.servlet.api"/>

    <module name="org.jboss.vfs" />
    <module name="org.jboss.as.weld.common" />
    <module name="org.jboss.as.ee" />

    <module name="io.undertow.core"/>
    <module name="io.undertow.servlet"/>
    <module name="org.wildfly.extension.undertow"/>

    <!-- Loading JAX-RS dependencies for LRA Participant Proxy bootup -->
    <module name="org.jboss.resteasy.resteasy-jaxrs" services="export"/>
    <module name="org.jboss.resteasy.resteasy-jaxb-provider" services="export"/>
    <module name="org.hibernate.validator" services="export"/>
    <module name="org.jboss.resteasy.resteasy-jackson2-provider" services="export"/>

    <module name="org.jboss.as.controller"/>
    <module name="org.jboss.as.server"/>
    <module name="org.jboss.logging" />
    <module name="org.jboss.modules"/>
    <module name="org.jboss.staxmapper"/>
    <module name="org.wildfly.security.manager"/>

  </dependencies>
</module>
