<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="io.vertx.core">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.vertx:vertx-core}"/>
    </resources>
    <dependencies>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="io.netty.netty-buffer"/>
        <module name="io.netty.netty-codec"/>
        <module name="io.netty.netty-codec-dns"/>
        <module name="io.netty.netty-codec-http"/>
        <module name="io.netty.netty-codec-http2"/>
        <module name="io.netty.netty-codec-socks"/>
        <module name="io.netty.netty-common"/>
        <module name="io.netty.netty-handler"/>
        <module name="io.netty.netty-handler-proxy"/>
        <module name="io.netty.netty-resolver"/>
        <module name="io.netty.netty-resolver-dns"/>
        <module name="io.netty.netty-transport"/>
        <module name="io.netty.netty-transport-native-epoll"/>
        <module name="io.netty.netty-transport-native-kqueue"/>
        <module name="java.logging"/>
        <module name="java.naming"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>
