<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="io.smallrye.common.constraint">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.smallrye.common:smallrye-common-constraint}"/>
    </resources>

    <dependencies>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>