<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module name="org.jboss.test.testDriver" xmlns="urn:jboss:module:1.8">
    <resources>
        <resource-root path="testDriver-bootableJar.jar"/>
    </resources>
    <dependencies>
        <module name="java.logging"/>
        <module name="java.sql"/>
        <module name="javax.orb.api"/>
    </dependencies>
</module>
