<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.apache.activemq.artemis.client">
    <resources>
        <artifact name="${org.apache.activemq:artemis-core-client}"/>
        <artifact name="${org.apache.activemq:artemis-selector}"/>
        <artifact name="${org.apache.activemq:artemis-hqclient-protocol}"/>
        <artifact name="${org.apache.activemq:artemis-jakarta-client}"/>
    </resources>

    <dependencies>
        <module name="java.management"/>
        <module name="java.management.rmi"/>
        <module name="java.naming"/>
        <module name="java.rmi"/>
        <module name="java.xml"/>
        <module name="org.apache.activemq.artemis.commons"/>
        <!-- export is required to get  access to InVMConnectorFactory -->
        <module name="org.apache.activemq.artemis" optional="true" export="true"/>
        <!-- Import is required to get  access to SSLContext Factory for Elytron -->
        <module name="org.wildfly.extension.messaging-activemq" services="import" export="true"/>
        <module name="de.dentrassi.crypto.pem-keystore" services="import" export="true"/>
        <module name="com.google.guava"/>
        <module name="jakarta.json.api"/>
        <module name="io.netty.netty-buffer"/>
        <module name="io.netty.netty-transport"/>
        <module name="io.netty.netty-handler"/>
        <module name="io.netty.netty-handler-proxy"/>
        <module name="io.netty.netty-codec"/>
        <module name="io.netty.netty-codec-socks"/>
        <module name="io.netty.netty-common"/>
        <module name="io.netty.netty-resolver"/>
        <module name="io.netty.netty-transport-native-epoll"/>
        <module name="io.netty.netty-transport-native-kqueue"/>
        <module name="io.netty.netty-codec-http"/>
        <module name="org.jgroups"/>
        <module name="org.slf4j"/>
        <module name="jakarta.resource.api"/>
        <module name="jakarta.transaction.api"/>
        <module name="jakarta.jms.api" />
        <module name="java.base"/>
        <!-- supported protocols (in addition to the CORE protocol) -->
        <module name="org.apache.activemq.artemis.protocol.amqp" services="import" optional="true"/>
        <module name="org.apache.activemq.artemis.protocol.hornetq" services="import" optional="true"/>
        <module name="org.apache.activemq.artemis.protocol.stomp" services="import" optional="true"/>
    </dependencies>
</module>
