<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.resteasy.resteasy-jackson2-provider">

    <resources>
        <artifact name="${org.jboss.resteasy:resteasy-jackson2-provider}"/>
    </resources>

    <dependencies>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="com.fasterxml.jackson.jakarta.jackson-jakarta-json-provider"/>
        <module name="com.fasterxml.jackson.datatype.jackson-datatype-jdk8"/>
        <module name="com.fasterxml.jackson.datatype.jackson-datatype-jsr310"/>
        <module name="com.github.fge.json-patch"/>
        <module name="jakarta.xml.bind.api"/>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.servlet.api"/>
        <module name="jakarta.ws.rs.api"/>
        <module name="org.jboss.resteasy.resteasy-core"/>
        <module name="org.jboss.resteasy.resteasy-core-spi"/>
        <module name="org.jboss.logging"/>
        <module name="java.xml"/>
    </dependencies>
</module>
