<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.glassfish.jakarta.enterprise.concurrent">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.glassfish:jakarta.enterprise.concurrent}"/>
    </resources>

    <dependencies>
        <module name="java.logging"/>
        <module name="java.management"/>
        <module name="java.naming"/>
        <module name="jakarta.enterprise.concurrent.api"/>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.transaction.api" optional="true"/>
    </dependencies>

</module>
