<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="slf4j-api" group="org.slf4j">
    <resources>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module group="org.jboss.logging" name="jboss-logging"/>
    </dependencies>
</module>
