<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="jakarta.enterprise.concurrent.api">

    <resources>
        <artifact name="${jakarta.enterprise.concurrent:jakarta.enterprise.concurrent-api}"/>
    </resources>

    <dependencies>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.transaction.api" optional="true"/>
    </dependencies>
</module>
