<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.extension.clustering.singleton">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly:wildfly-clustering-singleton-extension}"/>
    </resources>

    <dependencies>
        <module name="org.jboss.as.clustering.common"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.ee"/>
        <module name="org.jboss.as.network"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.metadata.common"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.vfs"/>
        <module name="org.wildfly.clustering.server.api"/>
        <module name="org.wildfly.clustering.service"/>
        <module name="org.wildfly.clustering.singleton.api"/>
        <module name="org.wildfly.clustering.singleton.service"/>
        <module name="org.wildfly.common"/>
        <module name="org.wildfly.service"/>
        <module name="org.wildfly.subsystem"/>
        <module name="java.xml"/>
    </dependencies>
</module>
