<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2013, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>RARServlet</servlet-name>
        <servlet-class>org.jboss.as.test.integration.jca.deployment.RARServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RARServlet</servlet-name>
        <url-pattern>/RARServlet</url-pattern>
    </servlet-mapping>

    <administered-object>
        <name>java:app/rardeployment/xml/ao</name>
        <class-name>org.jboss.as.test.integration.jca.rar.MultipleAdminObject1Impl</class-name>
        <resource-adapter>eis.rar</resource-adapter>
    </administered-object>

    <connection-factory>
        <name>xml/cf</name>
        <interface-name>org.jboss.as.test.integration.jca.rar.MultipleConnectionFactory1</interface-name>
        <resource-adapter>eis</resource-adapter>
    </connection-factory>


</web-app>

