<?xml version="1.0" ?>

<config xmlns="urn:jboss:galleon:config:1.0" name="standalone-microprofile.xml" model="standalone">
    <layers>
        <include name="cloud-server"/>
        <include name="h2-default-datasource"/>
        <include name="microprofile-fault-tolerance"/>
        <include name="microprofile-jwt"/>
        <include name="microprofile-openapi"/>
        <include name="undertow-legacy-https"/>
        <exclude name="management-security-realm"/>
    </layers>
    <!-- TODO WFLY-13150 encapsulate these in a layer -->
    <feature-group name="distributable-web"/>
    <feature-group name="infinispan-local-web"/>
    <packages>
        <!-- The distributable-web subsystem doesn't assume undertow,
             and undertow subysystem doesn't assume clustering, but the
             combination requires the clustering<->undertow integration package -->
        <package name="org.wildfly.clustering.web.undertow"/>
    </packages>
</config>
