<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.5" name="cidExtensionModule">
    <resources>
        <resource-root path="weldTest-bootableJar.jar"/>
    </resources>

    <dependencies>
        <module name="jakarta.annotation.api"/>
        <module name="jakarta.enterprise.api"/>
    </dependencies>
</module>
