<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.clustering.server.infinispan">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly.clustering:wildfly-clustering-server-infinispan}"/>
    </resources>

    <dependencies>
        <module name="io.github.resilience4j.core"/>
        <module name="io.github.resilience4j.retry"/>
        <module name="org.infinispan.commons"/>
        <module name="org.infinispan.core"/>
        <module name="org.infinispan.protostream"/>
        <module name="org.jboss.marshalling"/>
        <module name="org.jgroups"/>
        <module name="org.wildfly.clustering.cache.infinispan.common"/>
        <module name="org.wildfly.clustering.cache.infinispan.embedded" services="import"/>
        <module name="org.wildfly.clustering.cache.spi" services="import"/>
        <module name="org.wildfly.clustering.context"/>
        <module name="org.wildfly.clustering.function"/>
        <module name="org.wildfly.clustering.marshalling.jboss"/>
        <module name="org.wildfly.clustering.marshalling.protostream"/>
        <module name="org.wildfly.clustering.marshalling.spi"/>
        <module name="org.wildfly.clustering.server.api"/>
        <module name="org.wildfly.clustering.server.jgroups" services="import"/>
        <module name="org.wildfly.clustering.server.local"/>
        <module name="org.wildfly.clustering.server.spi" services="import"/>
    </dependencies>
</module>
