<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="io.smallrye.fault-tolerance">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.smallrye:smallrye-fault-tolerance}"/>
        <artifact name="${io.smallrye:smallrye-fault-tolerance-api}"/>
        <artifact name="${io.smallrye:smallrye-fault-tolerance-apiimpl}"/>
        <artifact name="${io.smallrye:smallrye-fault-tolerance-autoconfig-core}"/>
        <artifact name="${io.smallrye:smallrye-fault-tolerance-core}"/>
    </resources>

    <dependencies>
        <module name="jakarta.annotation.api"/>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.enterprise.concurrent.api"/>

        <module name="io.micrometer" optional="true"/>
        <module name="io.opentelemetry.api" optional="true"/>
        <module name="io.smallrye.common.annotation"/>
        <module name="io.smallrye.config"/>
        <module name="io.smallrye.opentelemetry" services="import" optional="true"/>
        <module name="io.smallrye.reactive.converters.api"/>
        <module name="org.eclipse.microprofile.config.api"/>
        <module name="org.eclipse.microprofile.fault-tolerance.api"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.weld.core"/>
        <module name="org.jboss.weld.spi"/>
        <module name="org.wildfly.extension.microprofile.telemetry-api" export="true" optional="true"/>
        <module name="org.wildfly.extension.opentelemetry-api" optional="true"/>
        <module name="org.wildfly.micrometer.deployment" optional="true"/>
        <module name="org.wildfly.microprofile.fault-tolerance-smallrye.deployment"/>
    </dependencies>
</module>
