<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2020 Red Hat, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<module-alias xmlns="urn:jboss:module:1.9" name="javax.security.auth.message.api" target-name="jakarta.security.auth.message.api"/>
<!--
     WARNING: This module is DEPRECATED and will be removed in a future release.

     References to this module should be changed to the 'jakarta' module for
     which this module is an alias.

     Note that despite its name this module does not expose javax.* package namespace
     APIs from Jakarta EE 8 or earlier. It exposes the jakarta.* package namespace
     APIs from the module it aliases.

     This module only exists to ease migration from the old javax.* namespace to
     the current jakarta.* namespace by allowing references to the old module names
     to temporarily work. Such references should be updated.

     (Note that an xml comment is used here instead of the usual 'jboss.api=deprecated'
     property child element only because the 'module-alias' element and associated
     Java classes do not support property child elements.)
-->