<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.resteasy.resteasy-core-spi">

    <resources>
        <artifact name="${org.jboss.resteasy:resteasy-core-spi}" />
    </resources>

    <dependencies>
        <module name="java.desktop"/>
        <module name="java.logging"/>
        <module name="java.management"/>
        <module name="java.naming"/>
        <module name="java.xml"/>
        <module name="jakarta.activation.api"/>
        <module name="jakarta.annotation.api"/>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.servlet.api"/>
        <module name="jakarta.validation.api"/>
        <module name="jakarta.xml.bind.api"/>
        <module name="jakarta.ws.rs.api"/>
        <module name="org.jboss.logging"/>
        <module name="org.reactivestreams"/>
        <!-- If present, import services that are needed for runtime. This includes deployment specific implementations. -->
        <module name="org.jboss.as.jaxrs" services="import" optional="true"/>
        <!--
            If a deployment wants to use this it needs to be exported. However, the way it's loaded in the RESTEasyTracingLogger
            it also needs to be available for this module. This is the reason we export it here.
            -->
        <module name="org.jboss.resteasy.resteasy-tracing-api" export="true" services="import" optional="true"/>
    </dependencies>
</module>
