<?xml version="1.0" ?>

<config xmlns="urn:jboss:galleon:config:1.0" name="standalone-full.xml" model="standalone">
    <layers>
        <include name="jaxrs-server"/>
        <include name="ee-security"/>
        <include name="metrics"/>
        <include name="health"/>
        <include name="microprofile-jwt"/>
        <include name="microprofile-opentracing"/>
        <include name="h2-default-datasource"/>
        <include name="elytron-oidc-client"/>
        <include name="ejb"/>               
        <include name="ejb-http-invoker"/>
                        
        <include name="web-passivation"/>
        <include name="undertow-https"/>
        <include name="jdr"/>
        <include name="jsf"/>
        <include name="webservices"/>
        <include name="pojo"/>
        <include name="mail"/>
        <include name="sar"/>
        <include name="batch-jberet"/>
        
        <include name="iiop-openjdk"/>
    </layers>
    
    <feature-group name="undertow-default-config"/>

    <feature spec="subsystem.remoting">
        <feature spec="subsystem.remoting.configuration.endpoint">
            <unset param="worker"/>
        </feature>
    </feature>

    <feature-group name="ejb3-mdb-pool"/>
    <feature-group name="ejb3-remote-service"/>

    <!-- the module it depends on is forced to be provisioned by galleon, so we are fine: WFLY-16099  -->
    <feature-group name="infinispan-local-server"/>
    
    <feature spec="subsystem.ejb3">
        <feature spec="subsystem.ejb3.service.iiop">
            <param name="enable-by-default" value="false"/>
            <param name="use-qualified-name" value="false"/>
        </feature>
    </feature>
    
    <!-- A layer for embedded broker is in progress -->
    <feature-group name="messaging-activemq"/>
    
    <!-- Should we have a layer? -->
    <feature-group name="microprofile-opentracing-jaeger"/>
</config>
