<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.hibernate.models.hibernate-models">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.hibernate.models:hibernate-models}"/>
        <artifact name="${org.hibernate.models:hibernate-models-jandex}"/>
    </resources>

    <dependencies>
        <module name="java.desktop"/>
        <module name="java.sql"/>

        <module name="io.smallrye.jandex"/>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
