<?xml version='1.0' encoding='UTF-8'?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protect all application</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Application Realm</realm-name>
    </login-config>

    <security-role>
        <description>Role required to log in to the application</description>
        <role-name>guest</role-name>
    </security-role>

</web-app>
