<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.7" name="test.weld-modules-deployment-war">

    <resources>
        <resource-root path="weld-modules-deployment-war-bootableJar.jar"/>
        <!-- Insert resources here -->
    </resources>

    <dependencies>

        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.inject.api"/>
        <module name="jakarta.servlet.api"/>
        <module name="jakarta.servlet.jsp.api"/>
    </dependencies>
</module>
