<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.apache.santuario.xmlsec">

    <exports>
        <exclude path="javax/**"/>
    </exports>

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <artifact name="${org.apache.santuario:xmlsec}"/>
    </resources>

    <dependencies>
      <module name="org.apache.commons.logging"/>
      <module name="org.apache.commons.codec"/>
      <module name="org.slf4j"/>
      <module name="jakarta.xml.bind.api" services="import"/>
      <module name="org.glassfish.jaxb" services="import"/>
      <module name="java.xml"/>
      <module name="java.xml.crypto"/>
    </dependencies>
</module>
