<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<!-- Hibernate Search Engine: the main glue between backend (e.g. Lucene backend)
     and mapper (e.g. Hibernate ORM mapper) -->
<module xmlns="urn:jboss:module:1.9" name="org.hibernate.search.engine">

    <resources>
        <artifact name="${org.hibernate.search:hibernate-search-util-common}"/>
        <artifact name="${org.hibernate.search:hibernate-search-engine}"/>
    </resources>

    <dependencies>
        <module name="org.jboss.logging"/>
        <module name="io.smallrye.jandex"/>

        <!-- Optional dependencies to import services (used for resolution of bean references in particular). -->
        <module name="org.hibernate.search.backend.lucene" optional="true" services="import"/>
        <module name="org.hibernate.search.backend.elasticsearch" optional="true" services="import"/>
        <module name="org.hibernate.search.mapper.pojo" optional="true" services="import"/>
        <module name="org.hibernate.search.mapper.orm" optional="true" services="import"/>
        <module name="org.hibernate.search.mapper.orm.outboxpolling" optional="true" services="import"/>
    </dependencies>
</module>
