<?xml version="1.0" ?>

<config xmlns="urn:jboss:galleon:config:1.0" name="standalone-load-balancer.xml" model="standalone">
    <layers>
        <include name="management"/>
        <include name="logging"/>
        <include name="undertow-load-balancer"/>
        <include name="git-history"/>
    </layers>
</config>
