<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.2">
    <persistence-unit name="pu1">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
            <property name="PersistenceUnitName" value="pu1"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="pu2">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
            <property name="PersistenceUnitName" value="pu2"/>
            <property name="wildfly.jpa.default-unit" value="true"/>
        </properties>
    </persistence-unit>
</persistence>
