<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.as.webservices.server.integration">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <dependencies>
        <module name="asm.asm" export="true"/>
        <module name="javax.wsdl4j.api" export="true"/>
        <module name="jakarta.xml.ws.api" export="true"/>
        <module name="org.glassfish.jaxb" services="import"/>
        <module name="org.jboss.ws.api" export="true"/>
        <module name="org.jboss.ws.spi" export="true"/>
        <module name="org.jboss.ws.common" services="import" export="true"/>
        <module name="org.jboss.ws.jaxws-client" services="export" export="true">
          <imports>
            <include path="META-INF/cxf"/>
            <include path="META-INF"/>
          </imports>
          <exports>
            <include path="META-INF/cxf"/>
            <include path="META-INF"/>
          </exports>
        </module>
        <module name="org.jboss.ws.cxf.jbossws-cxf-factories" services="export" export="true"/>
        <module name="org.jboss.ws.cxf.jbossws-cxf-transports-undertow" export="true">
          <imports>
            <include path="META-INF/cxf"/>
            <include path="META-INF"/>
          </imports>
          <exports>
            <include path="META-INF/cxf"/>
            <include path="META-INF"/>
          </exports>
        </module>
        <module name="org.jboss.ws.cxf.jbossws-cxf-transports-udp" export="true">
          <imports>
            <include path="META-INF/cxf"/>
            <include path="META-INF"/>
          </imports>
          <exports>
            <include path="META-INF/cxf"/>
            <include path="META-INF"/>
          </exports>
        </module>
        <module name="org.jboss.ws.cxf.jbossws-cxf-server" services="export" export="true"/>
        <!-- Do not import services from cxf module directly, those need to come from jbossws -->
        <module name="org.apache.cxf.impl" export="true">
          <imports>
            <include path="META-INF/cxf"/>
            <include path="META-INF"/>
          </imports>
          <exports>
            <include path="META-INF/cxf"/>
            <include path="META-INF"/>
          </exports>
        </module>
        <module name="org.apache.commons.codec"/>
        <module name="org.jboss.as.webservices" services="export" export="true"/>
        <module name="com.sun.xml.messaging.saaj" services="import"/>
        <module name="org.jboss.xts">
          <imports>
            <include path="com.arjuna.mw.wst11.client"/>
            <include path="org.jboss.jbossts.txbridge.outbound"/>
          </imports>
        </module>
        <module name="org.codehaus.woodstox" services="import"/>
        <module name="org.wildfly.security.elytron"/>
    </dependencies>
</module>
