<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.ws.api">

    <resources>
        <artifact name="${org.jboss.ws:jbossws-api}"/>
    </resources>

    <dependencies>
        <module name="jakarta.xml.soap.api"/>
        <module name="jakarta.xml.ws.api"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.ws.jaxws-client" services="import"/>
        <module name="java.xml"/>
    </dependencies>

</module>
