<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.narayana.lra.lra-participant">

  <properties>
    <property name="jboss.api" value="private"/>
  </properties>
  <resources>
    <artifact name="${org.jboss.narayana.lra:lra-client}" />
    <artifact name="${org.jboss.narayana.lra:lra-proxy-api}" />
    <artifact name="${org.jboss.narayana.lra:narayana-lra}" />
  </resources>

  <dependencies>
    <module name="org.eclipse.microprofile.lra.api" />
    <module name="org.jboss.modules"/>
    <module name="org.jboss.logging" />
    <module name="jakarta.ws.rs.api" />
    <module name="org.jboss.narayana.lra.lra-service-base" />

    <!-- lra-client -->
    <module name="jakarta.enterprise.api"/>
    <!-- lra-proxy-api -->
    <module name="io.smallrye.jandex"/>
    <!-- narayana-lra -->
    <module name="org.eclipse.microprofile.config.api"/>
    <module name="io.smallrye.config"/>
    <module name="io.smallrye.stork"/>

    <!-- Required for proper creation of proxies for CDI beans originating from this module -->    
    <module name="org.jboss.weld.api"/>
    <module name="org.jboss.weld.core"/>
    <module name="org.jboss.weld.spi"/>

  </dependencies>
</module>
