<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="jakarta.persistence.api">

    <resources>
        <artifact name="${jakarta.persistence:jakarta.persistence-api}"/>
    </resources>

    <dependencies>
        <!-- java.instrument export due to jdeps result -->
        <module name="java.instrument"/>
        <module name="java.logging"/>
        <!-- PersistenceUnitInfo needs javax.sql.DataSource -->
        <module name="java.sql" export="true"/>
        <!-- Persistence integration with CDI needs the following CDI API -->
        <module name="jakarta.enterprise.api"/>
    </dependencies>
</module>
