// Grant all to tests
grant codeBase "file:${jbossas.ts.dir}/-" {
  permission java.security.AllPermission;
};

// Grant all to the AS itself
grant codeBase "file:${jboss.home.dir}/jboss-modules.jar" {
  permission java.security.AllPermission;
};

// Grant all to modules
grant codeBase "file:${jboss.home.dir}/modules/system/layers/base/-" {
  permission java.security.AllPermission;
};
