<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <context-param>
        <param-name>jakarta.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.jsf</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.FACELETS_VIEW_MAPPINGS</param-name>
        <param-value>*.jsf</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>hello.jsf</welcome-file>
    </welcome-file-list>
</web-app>
