<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="org.infinispan.cdi.embedded">

    <resources>
        <artifact name="${org.infinispan:infinispan-cdi-embedded}"/>
    </resources>

    <dependencies>
        <module name="jakarta.enterprise.api" />
        <module name="jakarta.inject.api"/>

        <module name="org.infinispan.cdi.common"/>
        <module name="org.infinispan.commons"/>
        <module name="org.infinispan.core"/>
        <module name="org.jboss.logging"/>
    </dependencies>

</module>
