<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.hibernate.orm.hibernate-scan-jandex">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.hibernate.orm:hibernate-scan-jandex}"/>
    </resources>

    <dependencies>
        <module name="jakarta.persistence.api"/>

        <module name="io.smallrye.jandex"/>
        <module name="org.apache.logging.log4j.api"/>
        <module name="org.hibernate" services="import"/>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
