<?xml version="1.0" ?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<config xmlns="urn:jboss:galleon:config:1.0" name="standalone.xml" model="standalone">
    <layers>
        <include name="internal-standalone-profile"/>
        <exclude name="messaging-activemq"/>
    </layers>
    <feature-group name="adjust-standalone-config"/>
</config>
