<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.http-client.transaction">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly.wildfly-http-client:wildfly-http-transaction-client}"/>
    </resources>

    <dependencies>
        <module name="java.rmi"/>
        <module name="jakarta.transaction.api"/>
        <module name="org.wildfly.transaction.client"/>
        <module name="org.wildfly.http-client.common"/>
        <module name="org.wildfly.client.config"/>
        <module name="org.wildfly.common"/>
        <module name="io.undertow.core" />
        <module name="org.jboss.logging"/>
        <module name="org.jboss.marshalling" />
        <module name="org.jboss.marshalling.river" />
        <module name="org.jboss.xnio" />
        <module name="org.wildfly.security.elytron"/>
    </dependencies>
</module>
