<?xml version="1.0" ?>

<config xmlns="urn:jboss:galleon:config:1.0" name="standalone.xml" model="standalone">
    <layers>
        <include name="management"/>
        <include name="elytron"/> 
        <include name="jmx-remoting"/> 
        <include name="logging"/>
        <include name="core-management"/>
        <include name="request-controller"/>
        <include name="security-manager"/>
        <include name="web-server"/>
        <include name="legacy-security"/>
        <include name="core-tools"/>
        <include name="git-history"/>
    </layers>
    
    <!-- WFLY-15020 This pair should be split into their own layer. -->
    <feature-group name="application-http-basic"/>
    <feature-group name="undertow-http-invoker"/>
    <!-- WFLY-15021 The following should be added to an undertow-https layer. -->
    <feature-group name="undertow-https"/>
    
    <feature-group name="undertow-default-config"/>
    <!-- package included in case configuration is provisioned without inheriting all modules -->
    <packages>
        <package name="org.jboss.as.patching.cli"/>
    </packages>
</config>
