<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.clustering.singleton.server">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly:wildfly-clustering-singleton-server}"/>
    </resources>

    <dependencies>
        <module name="org.infinispan.commons"/>
        <module name="org.infinispan.core"/>
        <module name="org.infinispan.protostream"/>
        <module name="org.jboss.as.clustering.common"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.marshalling"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.wildfly.clustering.context"/>
        <module name="org.wildfly.clustering.cache.infinispan.embedded" services="import"/>
        <module name="org.wildfly.clustering.cache.spi" services="import"/>
        <module name="org.wildfly.clustering.marshalling.jboss"/>
        <module name="org.wildfly.clustering.marshalling.protostream"/>
        <module name="org.wildfly.clustering.marshalling.spi"/>
        <module name="org.wildfly.clustering.server.api"/>
        <module name="org.wildfly.clustering.server.infinispan" services="import"/>
        <module name="org.wildfly.clustering.server.jgroups" services="import"/>
        <module name="org.wildfly.clustering.server.service"/>
        <module name="org.wildfly.clustering.server.spi" services="import"/>
        <module name="org.wildfly.clustering.service"/>
        <module name="org.wildfly.clustering.singleton.api"/>
        <module name="org.wildfly.clustering.singleton.compat"/>
        <module name="org.wildfly.common"/>
        <module name="org.wildfly.service"/>
        <module name="org.wildfly.subsystem"/>
        <module name="org.wildfly.security.elytron-private"/>
    </dependencies>
</module>
