<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="io.smallrye.reactive.messaging.connector">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <dependencies>
        <module name="io.smallrye.reactive.messaging.connector.amqp" optional="true" export="true" services="export"/>
        <!-- Add some other central ampq dependencies so that they will be added to the deployment classpath by the DUP -->
        <module name="org.wildfly.reactive.messaging.amqp" optional="true" export="true" services="export"/>

        <module name="io.smallrye.reactive.messaging.connector.kafka" optional="true" export="true" services="export"/>
        <!-- Add the kafka API module and a few other central ones so that it will be added to the deployment classpath by the DUP -->
        <module name="io.smallrye.reactive.messaging.connector.kafka.api" optional="true" export="true" services="export"/>
        <module name="org.wildfly.reactive.messaging.kafka" optional="true" export="true" services="export"/>

        <module name="io.smallrye.reactive.messaging.connector.mqtt" optional="true" export="true" services="export"/>
    </dependencies>
</module>
